/*****NAVBAR - HEADER*****/
.navbar{
	background-color: #000000;
    opacity: 0.9;
	font-family: 'Karla', sans-serif;
	font-size: 1.1em;
	justify-content: space-around;

	animation: fadeInDown;
	animation-duration: 1s;
}

.container-fluid{
	margin: 0px 54.5px;
}

.nav-link{
	color: #ffffff;
    &:hover{
        color: #cc00ff!important;
    }
}

.active{
	display: inline-block;
    margin-left: 8px;
	color: #cc00ff!important;	
	border: 1px solid #cc00ff;
	border-radius: 10px ;
    &:hover{
        color: #ffffff!important;
	    background-color:#cc00ff ;
    }
}

.navbar-brand{
	font-size: 2em;
	font-family: 'Most Faster Personal Use', sans-serif;
	color: #ffffff ;
    &:hover{
        color: #cc00ff;
    }
}

.navbar-toggler-icon{
	color: #ffffff !important;
} 

/*********************************** MEDIA QUERIES **************************************************************/

@media screen and (max-width:768px) {
	.navbar{
		opacity: 0.95;
	}
    .navbar-brand{
        padding-left: 0px;
    }
	.container-fluid{
		margin: 0px 0px;
	}
	.nav-link{
		text-align: center;
	}
    .collapse{
        margin-right: 0px;
    }
	.active{
		display: block;
		padding: 5px;
		margin:8px 0px;
	}
	.nav-responsive-custom{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.navbar-toggler{
		border: none;
	}
}