#contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 100vh ;
    grid-template-areas: "redsocial form";
    background-image: url(../images/artista_grabando.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
}

.contacto__redsocial{
    grid-area: redsocial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0px 50px;
    margin-top: 50px;

    .contact__title{
        grid-area: title;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .redsocial__title{
        font-size: 1.5em;
        text-align: center;
    }
    
    .redsocial__subtitle{
        text-align: center;
        font-size: 1em;
    } 
    .redsocial__content{
        padding: 20px;   
        display: flex;
        flex-direction: column;
        justify-content: center;     
        align-items: center;
        gap: 20px;
    }

    .logo-redes__redes{
       h3{
        font-size: 1em;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
       }
       .redes__content{
        display: flex;
        flex-direction: row;
        justify-content: center;

        a{
            padding: 0px 15px;
        }
       }
     
    }
}

.form-contact{
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 68.8px;
    padding: 50px;
    
}


/********************** Media Queries ********************/

@media screen and (max-width:768px){
    #contact{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 700px ;
        grid-template-areas: 
        "redsocial"
        "form";
    }

    .contacto__redsocial{
        margin-top: 68.8px;
    }

    form{
        margin: 50px 0px;
    }

    .form-contact{
        margin-top: 0px;
        padding: 0px 50px;
    }
}