#main-login{
    margin-top: 40px;
}

#login{
    background-image: url(../images/Beats&Services.png);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login__title{
        color: white;
        margin-bottom: 30px;
    }

    .form-login{
        height: 500px;
    }
}
/********************* Media Querie ************************/
@media screen and (max-width:768px){
    .login__title{
        margin-bottom: 0px !important;
    }
}